/core/node_modules
/core/public/hot
/core/public/storage
/core/storage/*.key
/core/vendor
core/.env
core/.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
